{% extends 'summary/base.html' %}
{% load custom_tags %}

{% block content %}
    <h2>Summary</h2>

    <table class="table table-striped" id="summary">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Actual</th>
          <th scope="col">Planned</th>
          <th scope="col">Difference</th>
        </tr>
      </thead>
      <tbody>
        {% for r in row %} 
        <tr>
          <td>{{ r.0 }}</td>
          <td>{{ r.2 }}</td>
          <td>{{ r.1 }}</td>
          {% if r.2 == None  %}
            <td>None</td>
          {% else %}
            <td>{{ r.1|subtract:r.2 }}</td>
          {% endif %}
        {% endfor %}
        </tr>
        <tr>
          <td><b>Total</b></td>
          <td><b>{{ total_actual.total }}</b></td>
          <td><b>{{ total_planned.total }}</b></td>
          <td><b>{{ total_planned.total|subtract:total_actual.total }}</b></td>
        </tr>
      </tbody>
    
 
      {{ graph|safe }}
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready( function () {
      $('#summary').DataTable();
    } );</script>


{% endblock %}
